@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
  font-size: 2rem !important;
}
#root{
  padding: 0;
  margin: auto !important;
}

.landing-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}